.highlight__reaction{
    align-items: center;
    color: var(--secondary-text);
    display: flex;
    font-size: .75rem;
    font-weight: 400;
}

.highlight__reaction img{
    margin-left: -0.5rem;
}

.highlight__reaction--count{
    flex-grow: 1;
    margin-left: .25rem;
}

.highlight__reaction--comments{
    margin-right: -.5rem;
}