.profile__side {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 8rem;
    max-width: 17rem;
}

.profile__side span {
    text-align: start;
}

.profile__side img {
    height: auto;
    width: 2rem;
    margin-right: 0.5rem;
}