.profile__info{
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--card-background);
    height: calc(14.875rem - 5rem);
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    width: calc(48.75rem - 3rem);
}