:root{
    --card-background: #1B2226;
    --background-color: #000000;
    --dark-text: rgba(0, 0, 0, 0.75);
    --input: #38434F;
    --primary-color: #70B5F9;
    --primary-text: rgba(255, 255, 255, 0.9);
    --secondary-text: rgba(255, 255, 255, 0.6);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.container{
    margin: 0 9.625rem 0 9.625rem;
}

.flex-container{
    display: flex;
}

.title{
    color: var(--primary-text);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem    ;
}

.secondary-text{
    color: var(--secondary-text);
    font-size: .875rem;
    font-weight: 400;
}

.link{
    color: var(--primary-color);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;   
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.primary-button{
    color: var(--dark-text);
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.primary-button:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
}

.secondary-button{
    color: var(--primary-color);
    cursor: pointer;
    border: .0625rem solid var(--primary-color);
    border-radius: 1rem;
    background-color: var(--card-background);
}

.secondary-button:hover{
    background-color: var(--card-background);
    opacity: 0.8;
}

.h-line{
    border-right: .0625rem solid var(--primary-text);
    height: 100%;
    width: 0;
}

.w--line{
    border-bottom: .0625rem solid var(--primary-text);
}

.card{
    background-color: var(--card-background);
    border-radius: 1rem;
    margin: 0 9.625rem .5rem 9.625rem;
    padding: 1rem 1.5rem;
    width: calc(48.75rem - 3rem);
}

.reaction{
    align-items: center;
    color: var(--secondary-text);
    display: flex;
    font-size: .75rem;
    font-weight: 400;
}

.reaction img{
    margin-left: -0.5rem;
}

.reaction--count{
    flex-grow: 1;
    margin-left: .25rem;
}

.reaction--comments{
    margin-right: -.5rem;
}